<%- include("header") -%>
<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia natus voluptates et quos non
  asperiores eius quasi earum praesentium, inventore at hic excepturi voluptatem beatae delectus
  enim odit molestiae. Magnam.
</p>
<%- include("footer") -%>
